body
{
	font-family:  sans-serif;
}
.main-container
{
	float: left;
    width: 100%;
    height: auto;
}
.main-column{
    width: 100%;
    height: auto;
}
.side-column{
    width: 100%;
    height: 600px;
    border: 1px solid grey;
    margin-top: -1px;
    border-left: none;
}
.side-column ul{
    margin-left: 4%;
    margin-top: 10%;
    line-height: 40px;
}
.side-column ul li a{
    color: black;
}
.side-column #icon{
   color: black;
}
.center-column{
    width: 100%;
    height: 600px;
    border: 1px solid grey;
    margin-top: -1px;
    margin-left: -1%;
    border-left: none;
}
.center-column h2{
    margin-top: 50px;
}
.center-column .btn4{
    position: absolute;
    left: 71%;
    top: 110px;
    width: 25%;
    height: 40px;
    background-color: #D7BDE2 ;
    color: white;
    border: none;
    border-radius: 5px;
}
.center-column .table{
    margin-top: 7%;
}
.center-column .table #icon1{
    color: #85C1E9;
    margin-left: 30px;
}
.center-column .table #icon2{
    color: red;
   
}


@media (max-width: 1400px){
    
    
}
@media (max-width: 1200px){
    
}
@media (max-width: 1199px){
    
  
}
@media (max-width: 1050px){
   
    .side-column ul{
        margin-left: 6%;
        margin-top: 10%;
        line-height: 40px;
    }
    
   
}
@media (max-width: 991px){
    
}
@media (max-width: 915px){
    .center-column .btn4{
        position: absolute;
        left: 71%;
        top: 100px;
        width: 25%;
        height: 40px;
        background-color: #D7BDE2 ;
        color: white;
        border: none;
        border-radius: 5px;
    }
   
}
@media (max-width: 767px){
   
    .side-column{
        width: 100%;
        height: 350px;
        border: 1px solid grey;
        margin-top: -1px;
        border-left: none;
    }
    .side-column ul{
        margin-left: 1%;
        margin-top: 10%;
        line-height: 40px;
    }
    .center-column{
        width: 100%;
        height: 600px;
        border: 1px solid grey;
        margin-top: -1px;
        margin-left: 0%;
        border-left: none;
    }
    .center-column h2{
        margin-top: 50px;
        font-size: 25px;
    }
    .center-column .btn4{
        position: absolute;
        left: 71%;
        top: 90px;
        width: 25%;
        height: 40px;
        background-color: #D7BDE2 ;
        color: white;
        border: none;
        border-radius: 5px;
    }
    .center-column .table{
        margin-top: 5%;
    }
    
}
@media (max-width: 663px){
    
    
}
@media (max-width: 575px){
    .center-column h2{
        margin-top: 50px;
        font-size: 23px;
    }
    .center-column .btn4{
        position: absolute;
        left: 71%;
        top: 80px;
        width: 25%;
        height: 40px;
        background-color: #D7BDE2 ;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
    }
    
}
@media (max-width: 480px){
    .center-column h2{
        margin-top: 50px;
        font-size: 20px;
    }
    .center-column .btn4{
        position: absolute;
        left: 71%;
        top: 90px;
        width: 25%;
        height: 40px;
        background-color: #D7BDE2 ;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }
    .center-column .table{
        margin-top: 10%;
        font-size: 13px;
    }
   
}
@media (max-width: 460px){
    
    .center-column .table{
        margin-top: 10%;
        font-size: 12px;
    }

}